<app-menu></app-menu>
<div class="ui grid">
	<div id="menumovil" class="sixteen wide column">
    	<app-menu-movil (search)="filter($event)"></app-menu-movil>
    </div>
</div>
<div class="ui container">
  <div class="ui grid">
    <div id="menuvertical"class="five wide tablet four wide computer column ">
      <app-vertical-menu (search)="filter($event)"></app-vertical-menu>
	
    </div>
    
    <div id="hotels" class="sixteen wide mobile eleven wide tablet twelve wide computer column">
    	<router-outlet></router-outlet>
    </div>
  </div>
</div>

