.container{
	margin: 35px 20px!important;
	width: calc(100% - 40px);

}
#menumovil{
		display: none;
	}

@media (max-width: 768px) { 
	#menuvertical{
		display: none;
	}
	#menumovil{
		display: block;
	}
}
@media (max-width: 500px) { 
	#hotels{
		width: 100%!important
	}

}
