.card{
	width: 100%!important;
	    margin-bottom: 20px!important;
}

.imghotel{
	display: inline-block;
	padding: 10px;
}


.infohotel.sixteen.wide.table.column.six.wide.computer.column{
	padding: 25px 0px;
}
.price.sixteen.wide.table.column.four.wide.computer.column{
	margin: 20px 0px;
	border-left-style: dashed!important;
       border-left-width: 1px!important;
       border-color: #CCCCCC
}

.name.hotel{
	color: #047CB0;
	font-weight: bold;
	font-size: 16px;
	margin-bottom: 5px;
}
path{
	fill:#FFB933;
}
.amenities{
}
.amenities img{

	width: 25px;
    height: 25px;
        margin: 5px;
}
.pricenight{
	text-align: center;
	color: #686868;
	font-size: 12px;
	margin-top: 10%;
}
.pricenight div{
	margin-top: -5px;
}
.precio{
	line-height: 350%;
	margin-top: 10%;
	color: #E56613;
	text-align: center;
}
 .precio div{

	display: inline-block;
} 
.moneda{
	font-size: 22px;
	font-weight: 200;
	margin-right: 5px;
	vertical-align: middle;
}
.valor{
	font-size: 30px;
	font-weight: bold;
	vertical-align: middle;
}
.btnshow{
	margin-top: 10%;
	text-align: center;

}
.btnshow button{
	color: #FFFFFF;
	background-color: #002C74;
	font-weight: 500;
	width: 150px;
	font-size: 16px;
}
 @media (max-width: 1201px) { 
 	.pricenight,.precio,.btnshow{
		margin-top: 2%;
	}
	.btnshow button{
		width: 75%;
	}

	.imghotel{
		text-align: center;
	}
	.infohotel.sixteen.wide.table.column.six.wide.computer.column{
		padding: 20px 60px;
	}

	.imghotel img{
		width: 100%!important
	}
}
 @media (max-width: 992px) { 
 	.valor{
		font-size: 40px;	
	}
 	.btnshow button{
		width: 85%;
	}
	.price.sixteen.wide.table.column.four.wide.computer.column{
	margin: 20px 20px;
	border-left-style: none;
   border-left-width: 0px!important;
   border-top-style: dashed!important;
   border-top-width: 1px!important;
}
	.infohotel.sixteen.wide.table.column.six.wide.computer.column{
		padding: 0px 60px;
	}
	
}
 @media (max-width: 500px) { 
 
 	.btnshow button{
		width: 100%;
	}
	.name.hotel{
		color: #047CB0;
		font-weight: bold;
		font-size: 18px;
		margin-bottom: 5px;
	}
	.infohotel.sixteen.wide.table.column.six.wide.computer.column{
		padding: 0px 30px;
	}
	
}
.dimmer{
	position: fixed;
}
