<div class="ui segment" *ngIf="load">
  <div class="ui active inverted dimmer">
    <div class="ui indeterminate text loader">Cargando tus hoteles</div>
  </div>
  <p></p>
</div>
<div *ngFor="let hotel of datahotels">
	<div class="ui card">
	<div class="ui grid">
	  <div class="imghotel sixteen wide table column six wide computer column">
	  	<div class="imghotel">
	  		<img [src]="hotel.image"  class="ui medium image" alt="">
	  	</div>
	  	
	  </div>
		<div class="infohotel sixteen wide table column six wide computer column">
	  		<div class="name hotel">{{hotel.name}}</div>
	  		<div>
	  			<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 538.6 538.6" enable-background="new 0 0 538.6 538.6" xml:space="preserve" width="22px" height="22px" *ngFor="let star of hotel.stars">
				<g>
					<path d="M501.2,218.5c0,2-0.7,4.1-2,6.3c-1.3,2.3-3.1,4.7-5.4,7.3l-102.1,99.6l23.9,140.6c0,0.7,0.1,1.5,0.2,2.4
						c0.2,1,0.2,2.1,0.2,3.4c0,2-0.2,3.7-0.7,5.4c-0.5,1.6-1.2,3.1-2.2,4.4c-1,1.6-2.2,2.8-3.7,3.4c-1.5,0.6-3.2,1-5.1,1
						c-1.6,0-3.4-0.3-5.4-1c-2-0.7-3.9-1.5-5.9-2.4l-126.5-66.4L140.3,489c-2,1-3.9,1.8-5.9,2.4c-2,0.6-3.7,1-5.4,1c-2,0-3.7-0.3-5.1-1
						c-1.5-0.7-2.7-1.8-3.7-3.4c-1-1.3-1.7-2.8-2.2-4.4c-0.5-1.6-0.7-3.4-0.7-5.4c0-0.6,0-1.5,0-2.4s0.2-2.1,0.5-3.4l23.9-140.6
						L39.3,232.2c-2.3-2.6-4-5-5.1-7.3c-1.1-2.3-1.7-4.4-1.7-6.3c0-3.6,1.3-6.4,3.9-8.5c2.6-2.1,6.5-3.7,11.7-4.6l141.6-20.5l63.5-127.9
						c1.6-3.9,3.6-6.8,5.9-8.8c2.3-2,4.9-2.9,7.8-2.9s5.5,1,7.8,2.9c2.3,2,4.2,4.9,5.9,8.8l63.5,127.9l141.6,20.5
						c5.2,1,9.1,2.5,11.7,4.6C499.9,212.1,501.2,214.9,501.2,218.5z"/>
				</g>
				</svg>
	  		</div>
	  		<div class="amenities" >
	  			<img *ngFor="let amenitie of hotel.amenities" src="assets/icons/amenities/{{amenitie}}.svg" alt="">
	  		</div>
	  		
	  	</div>
	  <div  class="price sixteen wide table column four wide computer column">
	  	<div class="pricenight">
	  		<div>Precio por noche</div>
	  		<div>habitacíon</div>
	  	</div>
	  	<div class="precio">
	  		<div class="moneda">ARS</div>
	  		<div class="valor">{{hotel.price}}</div>
	  	</div>
	  	<div class="btnshow">
	  		<button class="ui large button">Ver hotel</button>
	  	</div>
	  </div>
</div>
</div>

</div>

