.titlefiltro{
	font-weight: bold;
    font-size: 16px;
    padding: 10px;
    color: #007AAF;
    text-align: center;
    display: inline-block;
}
.titlefiltro div{

    display: inline-block;
}
.title{
	font-size: 16px;
}
#titlename{
	color: #1987B7;
	font-weight: bold;
	text-align: center;
	    margin-bottom: 7px;

}
form{
	text-align: center;
}
.button,.ui.button:active{
	border-radius: 2px;
    color: #fff;
    padding: 10px;
    font-weight: 300;
	background-color: #002C74;
	width: 80px;
}
.button:hover{
	border-radius: 2px;
    color: #fff;
    padding: 10px;
    font-weight: 300;
	background-color: #002C74;
}
.input{
	width: calc(100% - 160px);
}
.card{
	padding: 10px;
	box-shadow: none!important;
	margin-top: 0px;
	margin-bottom: 0px;
}
ul{
	padding-left: 20%;
	font-size: 16px;
	font-weight: bold;
}
li{
	margin:0px;
	list-style-type: none; 
}
li input{
	vertical-align: middle;
	margin-right: 5px;
    margin-bottom: 4px;
}
.icon{
	cursor: pointer;
}
i.big.icon, i.big.icons {
    font-size: 1.7em!important;
}
.items{
	    position: absolute;
    width: 100%;
    z-index: 9;
    border-bottom: solid 3px;
    border-bottom-color: #D4D4D5;
}