.titlefiltro{
	font-weight: bold;
	    font-size: 15px;
	    padding: 10px;
}
.card{
	padding: 10px;
	margin: 5px
}
#titlename{
	color: #1987B7;
	font-weight: bold;
}
path{
	width: 14px;
	fill: #1987B7;
}
#titlename .icon{
	float: right; 
}
#titlename .title{

	margin-left: 5px; 
}
.button{
	border-radius: 2px;
    color: #fff;
    padding: 10px;
    font-weight: 300;
    float: right;
	height: 30px;
	background-color: #002C74;
}
.button:active{
	border-radius: 2px;
    color: #fff;
    padding: 10px;
    font-weight: 300;
	height: 30px;
	background-color: #002C74;
}
.button:hover{
	border-radius: 2px;
    color: #fff;
    padding: 10px;
    font-weight: 300;
	height: 30px;
	background-color: #002C74;
}
input{
	height: 30px;
}
form{

	    margin-top: 10px;
}
ul{
	padding-left: 0px;
	font-size: 13px;
	font-weight: bold;
}
li{
	margin:0px;
	list-style-type: none; 
}
li input{
	vertical-align: middle;
	margin-right: 5px;
    margin-bottom: 4px;
}
.icon{
	cursor: pointer;
}

i.big.icon, i.big.icons {
    font-size: 1.5em!important;
}

 @media (max-width: 1201px) { 
	.button{
		float: none;
		margin-top: 10px;
	}
}
   