/* You can add global styles to this file, and also import other style files */
@import url("./semantic.css");
.ui.card{
	border-radius: 0;
	width: 100%!important;
}
body{
	background-color: #F4F4F4;
}